.sliderWrapper :global .slick-list .slick-track {
  @apply tw-my-[0] tw--mx-[10];
}

.sliderWrapper2 :global .slick-slider {
  margin-inline: -30px;
}

.sliderWrapper3 :global .slick-slide > div {
  margin-inline: 10px;
}
