@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
  }
  
  p , li{
   font-size: 18px;
  }
  
  
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent !important;
    width: 100%;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    background: transparent !important;
    background-color: transparent !important;
  
  }
  
  nav .menu-ul{
    list-style: none;
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  nav ul li a{
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-family: sans-serif;
    font-size: 18px;
  }
  .logo-div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-div .logo-img{
   max-width: 230px;
   width: 100%;
  }
  /* .main-home{
    position: relative;
  } */
  
  .main-home .ava-12-img{
    width: 100%;
  }
  
  nav{
    background: transparent !important;
  }
  .navbar{
    border-radius: 7px;
    background: transparent !important;
  }
  
  /* ======= */
  
  .whatsapp-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    color: green;
    font-size: 50px;
  }
  .offer-card{
    padding: 30px;
    border-radius: 30px;
    border: 3px solid black;
  }
  
  .contact-form {
    background: white;
    padding: 24px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .contact-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
    margin-top: 20px;
  }
  
  .contact-form input,
  .contact-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .contact-form input:focus,
  .contact-form select:focus {
    border-color: black;
    outline: none;
  }
  
  .phone-input {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .phone-input select {
    background: #f8f9fa;
    border-right: 1px solid #ccc;
    padding: 12px;
    font-size: 16px;
  }
  
  .phone-input input {
    border: none;
    flex: 1;
    padding: 12px;
  }
  
  .submit-btn {
    width: 100%;
    background: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 30px;
  }
  
  .submit-btn:hover {
    background: #0056b3;
  }
  
  footer{
    background-color: #ccc;
    margin-top: 100px;
    padding-top: 60px;
  }
  
  footer ul li{
    list-style: none;
    color: gray;
    font-size: 20px;
    margin-top: 15px;
  }
  
  footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .footer-icons{
    display: flex;
    gap: 15px ;
    color: black;
  }
  
  .footer-icons a{
    cursor: pointer;
    color: black;
  }