span.current.placeholder {
  font-size: 12px;
  color: #a7a7a7d1;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.brand {
  width: 30px;
}

a {
  cursor: pointer;
}

.product-content-height {
  min-height: 80px;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: black;
  text-decoration: none !important;
}
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  background: #ec8f6a;
  border-color: #ec8f6a;
  color: #fff;
}

.btn.btn-outline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  background: transparent;
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn span {
  margin-left: -20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
}
.btn:hover span,
.btn:active span,
.btn:focus span {
  margin-left: -10px;
}

.compare-img {
  width: 100px !important;
}

.cursor_pointer {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.category-img .icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.page-title h1 {
  overflow: hidden;
  text-align: center;
}
.page-title h1:before,
.page-title h1:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.page-title h1:before {
  right: 0.5em;
  margin-left: -50%;
}
.page-title h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.overflow-list {
  height: 170px;
  width: 115%;
  padding-right: 10px !important;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color1);
}

.checkbox-container {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.checkbox-container.show {
  max-height: 500px; /* Adjust as needed */
  transition: max-height 0.5s ease-in;
}

.dropdown-icon {
  margin-left: 10px;
  transition: transform 0.3s;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.cursor_pointer {
  cursor: pointer;
}

.key_spec small {
  margin-top: 5px !important;
  line-height: 13px;
}

.key_spec img {
  width: 43px;
}

.listed_image {
  display: flex;
  align-items: center;
  height: 50px !important;
}

.btn-outline-primary {
  color: var(--primary-color1);
  border-color: var(--primary-color1);
}

.btn-outline-primary:hover {
  background-color: var(--light);
  border-color: var(--light);
}

small {
  font-size: 12px !important;
}



/* news page style begins */
.postedOnStyle{
  font-family: var(--font-gilroy);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color);
}
.newsCard {
  height: 250px; /* Adjust the height as needed */
}

.inputSearchContainer{
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(219, 219, 219);
  width: 370px;
  height: 60px;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 19px;
}
@media(max-width:650px){
  .inputSearchContainer{
    width: 100%;
  }
}

.inputSearchContainer:hover,.inputSearchContainer:focus{
  border: 1px solid var(--light);
}

.newsInputSearch{
  width: 100%;
  height: 100%;
}
.newsInputSearch::placeholder{
  font-size: 16px;
}
.inputFieldPlaceholderTxtRight::placeholder{
text-align: end;
}
.searchIcon{
 font-size: 20px;
}
.allBrandsTxt{
  font-weight: bolder;
  font-size: 18px;
}

.relatedDataList{
  width: 100%;
  height: 270px;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 9999;
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
  list-style: none;
  background-color: white;
}
.searchResultItem{
  width: 100%;
}
.searchResultItem:hover{
 
  background-color: rgb(244, 244, 244);
}
.imageContainer img{
  height: 210px !important;
    width: 100%;
    object-fit: cover;
}
.newsCard-body{
  box-shadow: 0 0 4px rgb(184, 184, 184);
  padding: 1rem 1rem;
  border-radius: 3px;
}

.news-card{
  background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;
}

.sticky-sidebar {
  position: sticky;
  top: 60px; /* Adjust this value as needed */
}
@media(max-width:650px){

  .hideOnMobile{
    display: none;
  }
}
.blogImage{
  width: 100%;
  height: 330px;
}
.recentBlogImage{
  width: 100%;
  height: 150px;
}
.BlogCardHeadingTxt{
  font-size: 18px;
}
.authorName{
  margin-top: 15px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.postedDate{
  font-size: 14px;
}
.readMoreBtn{
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--primary-color1);
  color: white;
}
.readMoreBtn:hover{
  background-color: var(--light);
}
.displayNone{
  display: none;
}

.spinnerItem {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  animation: spin 1s linear infinite;
  z-index: -1;
}

.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 5 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  border-radius:0% ;
  line-height: 2.375rem;
  text-align: center;
  padding-right: 8px;
  pointer-events: none;
  color: #aaa;
}

.blogFont{
  font-size: 14px;
  font-weight: 500;
}
.img-no-max-width {
  max-width: none;
}

/* news page style ends */

.blog_wrapper {
  background-color: var(--white);
  /* box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15); */
  padding: 30px 24px;
  position: relative;
  border: 5px;
  box-sizing: border-box;
}
.latest_listing img {
  height: 50px !important;
  object-fit: cover !important;
}
/* Mobile view begins */
@media(max-width:767px){
  .BlogCardHeadingTxt a{
    font-size: 13px;
  }
  .BlogCardHeadingTxt{
      line-height: 0.8;
  }
  .inputSearchContainer{
    height:50px;
  }
  .searchIcon{
    font-size: 16px;
  }
  p{
    font-size: 12px;
  }
  .searchResultItem {
    font-size: 12px;
  }
  .allBrandsTxt{
    font-size: 12px;
  }
  .readMoreBtn{
    font-size: 12px;
  }
  .blog-details-page .post-title{
    font-size: 20px;
  }

.blog-details-page .author-area .author-content h6{
    font-size:12px;
  }
  .blog-details-page .author-area .author-content span{
    font-size:10px;

  }
  .blog-sidebar .single-widgets .recent-post-wraper .widget-cnt .wc h6{
    font-size: 13px;
  }
  .blog-sidebar .single-widgets .widget-title h6{
    font-size: 15px;
  }
  h3 strong{
    font-size: 20px;
  }
  .blog-details-page .blog-tag-social-area .social-area h6{
    font-size: 13px;
  }
.shareTxt{
  font-size: 12px;
}
}

/* Mobile view ends */

/* Ad on right  */
@media (max-width: 876px) {
  .hideOnSmallScreen {
    display: none;
  }
}
.sticky_scroll {
  position: sticky !important;
  top: 93px !important;
}

.sticky_filter_scroll {
  position: sticky !important;
  top: 84px !important;
  z-index: 50;
}

.sticky_filter_ad_scroll {
  position: sticky !important;
  top: 226px !important;
}

/* ad ends */

.searchResultBox {
  z-index: 100;
  height: 270px;
}

/* loan period button begins */

.loanBtn {
  box-shadow: 0 0 2px black;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.85rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.loanBtn-primary {
  border-radius: 50%;
  color: black;
  background-color: transparent;
  border-color: #0d6efd;
}
.loanBtn-outline-primary {
  border-radius: 50%;
  color: var(--white-color);
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.calculateBtn {
  cursor: pointer;
  color: var(--white-color);
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 6px;
}
.calculateBtn:hover {
  color: var(--white-color);
  background-color: #89b8ff;
  border-color: #0d6efd;
}
/* loan period button ends */

/* compare model begins*/
.cursorPointer {
  cursor: pointer;
}
/* compare model ends*/

/* share Btn begins */
.shareBtn {
  padding: 5px 10px;
  border-radius: 6px;
  font-family: var(--font-gilroy);
  transition: 0.4s;
  width: 90px;
  color: var(--black-color);
  border: 0.2px solid gray;
  display: flex;
  align-items: center;
  gap: 2px;
}
.shareBtn svg {
  color: var(--light);
}
.shareBtn:hover svg {
  color: var(--white-color);
}
.shareBtn:hover {
  background-color: var(--light);
  color: var(--white-color);
}
/* share Btn ends */
.christmasOfferBtn {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 6px;
  background-color: var(--primary-color1);
}
.dropdown {
  width: 250px;
}
.dropDownBtn {
  background-color: transparent;
  border: 0.2px solid gray;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  margin-top: 8px;
}

/* car description part begins */
.carFullDesc {
  padding: 0;
  margin: 0;
  font-family: var(--font-gilroy);
}
.carDesc {
  margin: 0;
  padding: 0;
  font-family: var(--font-gilroy);
}
/* car description part ends */

/* new loan calculator begins  */
.calculatorContainer {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/loanBgTest.png);
  background: linear-gradient(180deg, #f4f4f4 50.14%, rgba(246, 249, 255, 0));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}

.calculatorContent {
  width: 824px;
  border-radius: 16px;
  box-shadow: 0px 0 5px #cdcdcd;
  position: relative;
  /* background-color: red; */
  padding: 5px 20px;
  margin-top: 80px;
  background-color: white;
  display: flex;
}

.leftSection {
  width: 50%;
  height: 100%;
  /* background-color: orange; */
  padding: 20px;
}
.monthlyIncomeContainer {
  font-family: var(--font-gilroy);
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.monthlyIncomeTxt {
  font-family: var(--font-gilroy);
  font-weight: 700;
  font-size: 17px;
}
.amountTxt {
  font-family: var(--font-gilroy);
  font-weight: 600;
  font-size: 14px;
}
.bottomAmount {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.rightSection {
  overflow: hidden;
  position: relative;
  padding: 20px;
  width: 50%;
  /* background-color: green; */
}

.totalAmountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}

.budgetBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary-color1);
  color: white;
  font-weight: 700;
  font-size: 19px;
}

.budgetBtn:hover {
  /* background-color: rgb(93, 93, 226); */
}
.totalAmoutTxt {
  font-weight: 700;
}
.maxEmiTxt,
.totalAmoutTxt {
  color: var(--primary-color1);
}

.emiContent {
  position: relative;
}
.borderLine {
  position: absolute;
  right: -13px;
  top: 0;
  width: 2px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}
.viewBreakDownBtn {
  padding: 5px 8px;
  border-radius: 10px;
}
.viewBreakDownBtn:hover {
  background-color: var(--light);
}
.ViewBreakBtnContainer {
  margin-left: 45px;
}

.emi-Head {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #36393d;
}
.emi_div {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  color: #24272c;
}
.emi-Interest {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #24272c;
  opacity: 0.6;
}

.amountInputField {
  font-size: 18px;
  width: 60px;
  font-weight: 600;
}
.interestInputTxt {
  font-size: 20px;
  font-weight: 600;
  height: 35px;
}
.downPaymentInputTxt {
  width: 130px;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
}

.carImage {
  position: absolute;
  top: 85px;
  transform: translateY(-50%);
  animation-name: carAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

@keyframes carAnimation {
  0% {
    right: -100%; /* Initial position: move the image off-screen to the left */
  }
  100% {
    right: calc(
      10px
    ); /* Final position: move the image off-screen to the right */
  }
}

@media (max-width: 680px) {
  .calculatorContent {
    display: block;
  }
  .leftSection {
    width: 100%;
  }
  .rightSection {
    width: 100%;
  }
}
/* new loan calculator ends  */

/* about Page begins */
.paragraph {
  color: var(--text-color);
  font-family: var(--font-gilroy);
}
/* about Page ends */

.underLine {
  width: 101px;
  height: 3px;
  background: var(--primary-color1);
  border-radius: 30%;
}

/* contact form begins */

.termsCheckBox {
  border-radius: 5px;
  background: var(--white-color);
  color: var(--text-color);
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  width: 0%;
  padding: 10px 20px;
  border: 1px solid lightgray;
}
/* contact form ends*/

/* cookies components style begins */
.cookie-warning {
  position: fixed;
  bottom: 0;
  left: 50%; /* Change this to 50% */
  transform: translateX(-50%); /* Add this line */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 24px 30px;
  border-radius: 5px;
  color: #fff;
  z-index: 100;
  /* background: linear-gradient(0deg, var(--light) 0%, var(--primary-color1) 100%); */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.cookie-title {
  color: black;
  font-size: 21px;
  margin-bottom: 12px;
}

.cookie-text {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 20px;
  line-height: 1.8em;
  font-family: inherit;
}
.cookie-warning a {
  color: rgba(255, 255, 255, 0.8);
}
.cookie-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
}
.cookie-btn {
  cursor: pointer;
  background-color: var(--primary-color1);
  opacity: 0.9;
  border: none;
  padding: 6px 13px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  transition: 0.15s ease;
}
.cookie-btn:hover {
  background-color: var(--light);
}
.cookieDeclineBtn {
  border: 2px solid var(--primary-color1);
  background-color: white;
  color: var(--primary-color1);
}
.cookieDeclineBtn:hover {
  background-color: var(--primary-color1);
  color: var(--white);
}

@media (max-width: 650px) {
  .cookie-warning {
    width: 100%;
  }
}

.category-box-button {
  width: 80px !important;
  height: 70px !important;
}
/* cookies components style ends */
/* search inputfield begins */

/* search inputfield ends */

.skiptranslate {
  display: none !important;
}

.product-sidebar {
  height: 500px;
  overflow-y: scroll;
}


/* blog page tab nav begins */
.nav-tabs {
  border-bottom: 1px solid #dee2e6;

  margin:11px 15px
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--primary-color1);
  background-color: #fff;
  /* border-color: #dee2e6 #dee2e6 #fff; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid var(--primary-color1);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  /* border-color: #e9ecef #e9ecef #dee2e6; */
  /* isolation: isolate; */
  /* border-bottom: 3px solid var(--light); */
  border-top: none;
  border-left: none;
  border-right: none;
}
.fontWeight500{
  color: var(--light);
  font-weight: 500;
}

.nav-link {
  display: block;
  padding: 0.5rem 3rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  font-weight: 500;
  background: 0 0;
  border:none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
/* blog page tab nav ends */

/* Blog page More brands section begin */
.viewAllbrandTxt{
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color1);
}

.boxShadows{
  box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.331);
}
/* Blog page More brands section ends */


/* car brands page begins */
.accordion-header{
  width: 100%;
}
.positionStickyAd{
  position: sticky;
  top: 140px;
}
/* car brands page ends */

