body{
  background-color: #fafafa;
}


.body-height {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

span.current.placeholder {
  font-size: 12px;
  color: #a7a7a7d1;
}

.swiper-slide {
  /* display: flex !important; */
  justify-content: center;
}

.swiper-slide img {
  object-fit: contain !important;
}
.brand {
  width: 30px;
}

a {
  cursor: pointer;
}

.product-content-height {
  min-height: 80px;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: black;
  text-decoration: none !important;
}
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1 {
  font-size: 1.8rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.4rem !important;
}

h4 {
  font-size: 1.2rem !important;
}

h5 {
  font-size: 1rem !important;
}

h6 {
  font-size: 0.8rem !important;
}

p {
  line-height: 1.5 !important;
  margin-bottom: 0rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 1.4rem !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: 0.8rem !important;
  }

  h6 {
    font-size: 0.6rem !important;
  }
  p {
    font-size: 14px !important;
  }
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.btn.btn-outline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  background: transparent;
}

.btn {
  /* padding: 12px 16px; */
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn span {
  margin-left: -20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
}
.btn:hover span,
.btn:active span,
.btn:focus span {
  margin-left: -10px;
}

.compare-img {
  width: 100px !important;
}

.cursor_pointer {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.category-img .icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.page-title h1 {
  overflow: hidden;
  text-align: center;
}
.page-title h1:before,
.page-title h1:after {
  background-color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.page-title h1:before {
  right: 0.5em;
  margin-left: -50%;
}
.page-title h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.overflow-list {
  height: 170px;
  width: 115%;
  padding-right: 10px !important;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color1);
}

.checkbox-container {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.checkbox-container.show {
  max-height: 500px; /* Adjust as needed */
  transition: max-height 0.5s ease-in;
}

.dropdown-icon {
  margin-left: 10px;
  transition: transform 0.3s;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.cursor_pointer {
  cursor: pointer;
}

.key_spec small {
  margin-top: 5px !important;
  line-height: 13px;
}

.key_spec img {
  width: 43px;
}

.listed_image {
  display: flex;
  align-items: center;
  height: 50px !important;
  position: relative;
}

.btn-outline-primary {
  color: var(--primary-color1);
  border-color: var(--primary-color1);
}

.btn-outline-primary:hover {
  background-color: var(--light);
  border-color: var(--light);
}

small {
  font-size: 12px !important;
}

/* news page style begins */
.postedOnStyle {
  font-family: var(--font-gilroy);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
}
.newsCard {
  height: 250px; /* Adjust the height as needed */
}

.inputSearchContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(219, 219, 219);
  width: 370px;
  height: 60px;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 19px;
}
@media (max-width: 650px) {
  .inputSearchContainer {
    width: 100%;
  }
}

.inputSearchContainer:hover,
.inputSearchContainer:focus {
  border: 1px solid var(--light);
}

.newsInputSearch {
  width: 100%;
  height: 100%;
}
.newsInputSearch::placeholder {
  font-size: 16px;
}
.inputFieldPlaceholderTxtRight::placeholder {
  text-align: end;
}
.searchIcon {
  font-size: 20px;
}
.allBrandsTxt {
  font-weight: bolder;
  font-size: 18px;
}

.relatedDataList {
  width: 100%;
  height: 270px;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 9999;
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
  list-style: none;
  background-color: white;
}
.searchResultItem {
  width: 100%;
}
.searchResultItem:hover {
  background-color: rgb(244, 244, 244);
}
.imageContainer img {
  height: 160px !important;
  width: 100%;
  object-fit: cover;
}
.newsCard-body {
  box-shadow: 0 0 4px rgb(184, 184, 184);
  padding: 1rem 1rem;
  border-radius: 3px;
}

.news-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 10px;
}

.sticky-sidebar {
  position: sticky;
  top: 60px; /* Adjust this value as needed */
}
@media (max-width: 650px) {
  .hideOnMobile {
    display: none;
  }
}
.blogImage {
  width: 100%;
  height: 330px;
}
.recentBlogImage {
  width: 100%;
  height: 150px;
}
.BlogCardHeadingTxt {
  font-size: 18px;
}
.authorName {
  margin-top: 15px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.postedDate {
  font-size: 14px;
}
.readMoreBtn {
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--primary-color1);
  color: white;
}
.readMoreBtn:hover {
  background-color: var(--light);
}
.displayNone {
  display: none;
}

.spinnerItem {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  animation: spin 1s linear infinite;
  z-index: -1;
}

.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 5 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 0%;
  line-height: 2.375rem;
  text-align: center;
  padding-right: 8px;
  pointer-events: none;
  color: #aaa;
}

.blogFont {
  font-size: 14px;
  font-weight: 500;
}
.img-no-max-width {
  max-width: none;
}

/* news page style ends */

.blog_wrapper {
  background-color: var(--white);
  /* box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15); */
  padding: 30px 24px;
  position: relative;
  border: 5px;
  box-sizing: border-box;
}
.latest_listing img {
  height: 50px !important;
  object-fit: cover !important;
}
/* Mobile view begins */
@media (max-width: 767px) {
  .BlogCardHeadingTxt a {
    font-size: 13px;
  }
  .BlogCardHeadingTxt {
    line-height: 0.8;
  }
  .inputSearchContainer {
    height: 50px;
  }
  .searchIcon {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .searchResultItem {
    font-size: 12px;
  }
  .allBrandsTxt {
    font-size: 12px;
  }
  .readMoreBtn {
    font-size: 12px;
  }
  .blog-details-page .post-title {
    font-size: 20px;
  }

  .blog-details-page .author-area .author-content h6 {
    font-size: 12px;
  }
  .blog-details-page .author-area .author-content span {
    font-size: 10px;
  }
  .blog-sidebar .single-widgets .recent-post-wraper .widget-cnt .wc h6 {
    font-size: 13px;
  }
  .blog-sidebar .single-widgets .widget-title h6 {
    font-size: 15px;
  }
  h3 strong {
    font-size: 20px;
  }
  .blog-details-page .blog-tag-social-area .social-area h6 {
    font-size: 13px;
  }
  .shareTxt {
    font-size: 12px;
  }
}

/* Mobile view ends */

/* Ad on right  */
@media (max-width: 876px) {
  .hideOnSmallScreen {
    display: none;
  }
}
.sticky_scroll {
  position: sticky !important;
  top: 40px !important;
}

.sticky_filter_scroll {
  position: sticky !important;
  top: 84px !important;
  z-index: 50;
}

.sticky_filter_ad_scroll {
  position: sticky !important;
  top: 226px !important;
}

/* ad ends */

.searchResultBox {
  z-index: 100;
  height: 270px;
  left: 0px !important;
}

/* loan period button begins */

.loanBtn {
  box-shadow: 0 0 2px black;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.85rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.loanBtn-primary {
  border-radius: 50%;
  color: black;
  background-color: transparent;
  border-color: #0d6efd;
}
.loanBtn-outline-primary {
  border-radius: 50%;
  color: var(--white-color);
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.calculateBtn {
  cursor: pointer;
  color: var(--white-color);
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 6px;
}
.calculateBtn:hover {
  color: var(--white-color);
  background-color: #89b8ff;
  border-color: #0d6efd;
}
/* loan period button ends */

/* compare model begins*/
.cursorPointer {
  cursor: pointer;
}
/* compare model ends*/

/* share Btn begins */
.shareBtn {
  padding: 5px 10px;
  border-radius: 6px;
  font-family: var(--font-gilroy);
  transition: 0.4s;
  width: 90px;
  color: var(--black-color);
  border: 0.2px solid gray;
  display: flex;
  align-items: center;
  gap: 2px;
}
.shareBtn svg {
  color: var(--light);
}
.shareBtn:hover svg {
  color: var(--white-color);
}
.shareBtn:hover {
  background-color: var(--light);
  color: var(--white-color);
}
/* share Btn ends */
.christmasOfferBtn {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 6px;
  background-color: var(--primary-color1);
}
.dropdown {
  width: 250px;
}
.dropDownBtn {
  background-color: transparent;
  border: 0.2px solid gray;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  margin-top: 8px;
}

/* car description part begins */
.carFullDesc {
  padding: 0;
  margin: 0;
  font-family: var(--font-gilroy);
}
.carDesc {
  margin: 0;
  padding: 0;
  font-family: var(--font-gilroy);
}
/* car description part ends */

/* new loan calculator begins  */
.calculatorContainer {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/loanBgTest.png);
  background: linear-gradient(180deg, #f4f4f4 50.14%, rgba(246, 249, 255, 0));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}

.calculatorContent {
  max-width: 824px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0 5px #cdcdcd;
  position: relative;
  /* background-color: red; */
  padding: 5px 20px;
  margin-top: 30px;
  background-color: white;
}

.resultContainer {
  max-width: 824px;
  width: 100%;
}

.leftSection {
  width: 50%;
  height: 100%;
  /* background-color: orange; */
  padding: 20px;
}
.monthlyIncomeContainer {
  font-family: var(--font-gilroy);
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.monthlyIncomeTxt {
  font-family: var(--font-gilroy);
  font-weight: 700;
  font-size: 17px;
}
.amountTxt {
  font-family: var(--font-gilroy);
  font-weight: 600;
  font-size: 14px;
}
.bottomAmount {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.rightSection {
  overflow: hidden;
  position: relative;
  padding: 20px;
  width: 50%;
  /* background-color: green; */
}

.totalAmountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.budgetBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary-color1);
  color: white;
  font-weight: 700;
  font-size: 19px;
}

.budgetBtn:hover {
  /* background-color: rgb(93, 93, 226); */
}
.totalAmoutTxt {
  font-weight: 700;
}
.maxEmiTxt,
.totalAmoutTxt {
  color: var(--primary-color1);
}

.emiContent {
  position: relative;
}
.borderLine {
  position: absolute;
  right: -13px;
  top: 0;
  width: 2px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}
.viewBreakDownBtn {
  padding: 5px 8px;
  border-radius: 10px;
}
.viewBreakDownBtn:hover {
  background-color: var(--light);
}
.ViewBreakBtnContainer {
  margin-left: 45px;
}

.emi-Head {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #36393d;
}
.emi_div {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 600;
  line-height: 24px;
  color: #24272c;
}
.emi-Interest {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #24272c;
  opacity: 0.6;
}

.amountInputField {
  font-size: 18px;
  width: 60px;
  font-weight: 600;
}
.interestInputTxt {
  font-size: 20px;
  font-weight: 600;
  height: 35px;
}
.downPaymentInputTxt {
  width: 130px;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
}

.carImage {
  position: absolute;
  top: 85px;
  transform: translateY(-50%);
  animation-name: carAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

@keyframes carAnimation {
  0% {
    right: -100%; /* Initial position: move the image off-screen to the left */
  }
  100% {
    right: calc(
      10px
    ); /* Final position: move the image off-screen to the right */
  }
}

@media (max-width: 680px) {
  .calculatorContent {
    display: block;
  }
  .leftSection {
    width: 100%;
  }
  .rightSection {
    width: 100%;
  }
}
/* new loan calculator ends  */

/* about Page begins */
.paragraph {
  color: var(--text-color);
  font-family: var(--font-gilroy);
}
/* about Page ends */

.underLine {
  width: 101px;
  height: 3px;
  background: var(--primary-color1);
  border-radius: 30%;
}

/* contact form begins */

.termsCheckBox {
  border-radius: 5px;
  background: var(--white-color);
  color: var(--text-color);
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  width: 0%;
  padding: 10px 20px;
  border: 1px solid lightgray;
}
/* contact form ends*/

/* cookies components style begins */
.cookie-warning {
  position: fixed;
  bottom: 0;
  left: 50%; /* Change this to 50% */
  transform: translateX(-50%); /* Add this line */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 24px 30px;
  border-radius: 5px;
  color: #fff;
  z-index: 100;
  /* background: linear-gradient(0deg, var(--light) 0%, var(--primary-color1) 100%); */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.cookie-title {
  color: black;
  font-size: 21px;
  margin-bottom: 12px;
}

.cookie-text {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 20px;
  line-height: 1.8em;
  font-family: inherit;
}
.cookie-warning a {
  color: rgba(255, 255, 255, 0.8);
}
.cookie-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
}
.cookie-btn {
  cursor: pointer;
  background-color: var(--primary-color1);
  opacity: 0.9;
  border: none;
  padding: 6px 13px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  transition: 0.15s ease;
}
.cookie-btn:hover {
  background-color: var(--light);
}
.cookieDeclineBtn {
  border: 2px solid var(--primary-color1);
  background-color: white;
  color: var(--primary-color1);
}
.cookieDeclineBtn:hover {
  background-color: var(--primary-color1);
  color: var(--white);
}

@media (max-width: 650px) {
  .cookie-warning {
    width: 100%;
  }
}

.category-box-button {
  width: 80px !important;
  height: 70px !important;
}
/* cookies components style ends */
/* search inputfield begins */

/* search inputfield ends */

.skiptranslate {
  display: none !important;
}

/* .product-sidebar {
  height: 500px;
  overflow-y: scroll;
} */

/* blog page tab nav begins */
.nav-tabs {
  border-bottom: 1px solid #dee2e6;

  margin: 11px 15px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primary-color1);
  background-color: #fff;
  /* border-color: #dee2e6 #dee2e6 #fff; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid var(--primary-color1);
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  /* border-color: #e9ecef #e9ecef #dee2e6; */
  /* isolation: isolate; */
  /* border-bottom: 3px solid var(--light); */
  border-top: none;
  border-left: none;
  border-right: none;
}
.fontWeight500 {
  color: var(--light);
  font-weight: 500;
}

.nav-link {
  display: block;
  padding: 0.5rem 3rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  font-weight: 500;
  background: 0 0;
  border: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
/* blog page tab nav ends */

/* Blog page More brands section begin */
.viewAllbrandTxt {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color1);
}

.boxShadows {
  box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.331);
}
/* Blog page More brands section ends */

/* car brands page begins */
.accordion-header {
  width: 100%;
  font-weight: 600;
}
.positionStickyAd {
  position: sticky;
  top: 35px;
}
/* car brands page ends */

.banner_filter_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: auto;
  top: 0px;
  /* padding: 44%; */
  height: 90%;
  width: 95% !important;
  z-index: 10;
  border-radius: 5px;
}

.error_message {
  position: absolute;
  background: var(--bs-danger);
  padding: 10px;
  z-index: 50;
  width: 70%;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: #fff;
}

/* Old Model Switch Tab*/

.year_tab .container {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year_tab .tabs {
  display: flex;
  position: relative;
  color: var(--white);
  background-color: var(--primary);
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0px;
  border-radius: 99px;
}

.year_tab.tabs * {
  z-index: 2;
}

.year_tab input[type="radio"] {
  display: none;
}

.year_tab .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  z-index: 100 !important;
}

.year_tab .notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

.year_tab input[type="radio"]:checked + label > .notification {
  background-color: var(--light);
  color: #fff;
}

.year_tab input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.year_tab input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.year_tab input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.year_tab .glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 100px;
  color: var(--white);
  background-color: var(--light);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .year_tab .tabs {
    transform: scale(0.6);
  }
}

.old-model-tab img {
  object-fit: contain;
  height: 300px;
}

.trim-content .swiper {
  height: 300px !important;
}

.calculator {
  width: 100%;
  max-width: 600px;
  /* margin: 0 auto; */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

.result_section_wrapper {
  background: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15);
  padding: 10px;
}

.calulate_btn {
  border: 1px solid var(--black);
  border-radius: 3px;
  text-align: center;
}

.calulate_btn:hover {
  border: 1px solid var(--black);
  border-radius: 3px;
  background-color: var(--primary) !important;
  text-align: center;
  color: var(--white);
}

.form-group small {
  font-weight: 800;
}

.form-control {
  width: 100%;
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control-range {
  width: 100%;
}

.calculator_section .nav-item {
  font-weight: 600 !important;
}

.btn input[type="radio"] {
  display: none;
}

.btn-label {
  pointer-events: none;
}

.model_insure_btn label {
  font-size: 10px;
  margin: 0px 3px;
  border-radius: 5px;
}

.model_insure_btn .btn-outline-primary {
  width: 45px !important;
}

.model_insure_btn .btn-primary {
  width: 45px !important;
  border: 1px solid transparent;
}

.model_insure_btn .btn-outline-primary:hover {
  color: var(--primary);
  background-color: var(--white) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--light);
  box-shadow: none;
  outline: 0 none;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.w-12 {
  width: 12%;
}

.w-14 {
  width: 14%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.white_bg_wrapper {
  background-color: var(--white);
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15);
  padding: 20px;
  position: relative;
}

.font_small {
  font-size: 12px !important;
}

.spec-img {
  width: 35%;
}

.cover_card_image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media (min-width: 728px) {
  .responsive_leaderboard_horizontal {
    text-align: center;
    width: 728px;
    height: 90px;
  }

  .responsive_vertical_ad_desktop {
    text-align: center;
    width: 300px;
    height: 600px;
  }

  .responsive_footer_ad_horizontal {
    text-align: center;
    width: 970px;
    height: 250px;
  }

  .responsive_footer_mobile_square {
    display: none;
  }

  .responsive_desktop_square_300x250 {
    text-align: center;
    width: 300px;
    height: 250px;
  }

  .fixed_top_banner_bill_board {
    width: 970px;
    height: 180px;
    text-align: center;
  }

  /* Ad Styles */

  .Ad728x90 {
    width: 728px;
    height: 90px;
    margin: auto;
    background-color: #aaa !important;
  }

  .AdBlog {
    width: 728px;
    height: 90px;
    margin: auto;
    background-color: #aaa !important;
  }

  .Ad300x250 {
    width: 300px;
    height: 250px;
    margin: auto;
    background-color: #aaa !important;
  }

  .Ad970x180 {
    width: 970px;
    height: 180px;
    margin: auto;
    background-color: #aaa !important;
  }

  .Ad300x600 {
    width: 300px;
    height: 600px;
    margin: auto;
    background-color: #aaa !important;
  }

  .Ad970x250 {
    width: 970px;
    height: 250px;
    margin: auto;
    background-color: #aaa !important;
  }

  .Ad160x600 {
    width: 160px;
    height: 600px;
    margin: auto;
    background-color: #aaa !important;
  }

  .Ad250x250 {
    display: none;
  }
}

@media (max-width: 728px) {
  .responsive_leaderboard_horizontal {
    text-align: center;
    width: 100% !important;
    height: 100% !important;
  }

  .responsive_vertical_ad_desktop {
    display: none !important;
  }

  .responsive_footer_mobile_square {
    text-align: center;
    width: 250px !important;
    height: 250px !important;
  }

  .responsive_desktop_square_300x250 {
    text-align: center;
    width: 300px;
    height: 250px;
  }

  .responsive_footer_ad_horizontal {
    display: none !important;
  }

  .fixed_top_banner_bill_board {
    display: none !important;
  }

  /* Ad Styles */

  .Ad300x250 {
    width: 300px;
    height: 250px;
    margin: auto;
  }

  .Ad970x180 {
    display: none !important;
  }

  .Ad728x90 {
    width: 100%;
    height: 50px;
    margin: auto;
  }

  .Ad250x250 {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .AdBlog {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  /* .Ad300x250 {
    display: none;
  } */

  .Ad300x600 {
    display: none;
  }

  .Ad970x250 {
    display: none;
  }

  .Ad160x600 {
    width: 160px;
    height: 600px;
    margin: auto;
  }
}

.product-card .swiper-slide {
  text-align: center !important;
}

.body-category-area {
  position: relative;
}
.body-category-area .single-category1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 6px #d9d9d9, 1px 2px 2px #e7e7e7;
  border-radius: 10px;
  padding: 30px 20px;
  z-index: 1;
  transition: all ease 0.35s;
}
.body-category-area .single-category1 .brand-icon {
  margin-bottom: 5px;
}
.body-category-area .single-category1::after {
  content: "";
  /* background-image: url(../img/home1/category1-bg.png); */
  background-color: var(--light);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  transition: all ease 0.35s;
  opacity: 0;
}

.head_truncate {
  overflow: hidden;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

@media (max-width: 728px) {
  .product-card .product-img img {
    height: 90px !important;
  }
  .body-category-area .single-category1{
    padding: 9px 19px;
  }
  .trim-content .swiper {
    height: 150px !important;
  }

  .calculator {
    width: 100%;
    max-width: 600px;
}
  
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  background-color: #007bff; /* Primary color */
  color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-btn svg{
 position: absolute;
}


.filter-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 99;
  overflow-y:scroll;
}

.filter-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 100%;
}

/* Hide the modal by default */
.filter-modal.hidden {
  display: none;
}


/* Webstory Listing */

.storyList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .storyList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .old-model-tab img{
    height: 150px !important;
  }
}

.storyList .webstoryCard {
  position: relative;
  padding-bottom: 88px;
  height: 100%;
}

.storyList .webstoryCard a {
  display: block;
  width: 100%;
  height: 100%;
}

.storyList .webstoryCard a img {
  width: 100%;
  display: block;
  border-radius: 8px;
  height: 100%;
}

.storyList .storyDetail {
  position: absolute;
  bottom: 0;
  padding: 0px 15px 10px 15px;
  left: 0;
  right: 0;
}

.storyList .storyDetail .heading {
  font-weight: 600;
  font-size: 15px !important;
  color: #fff;
  position: relative;
  z-index: 1;
}

.storyList .storyDetail .date {
  color: #fff;
  z-index: 1;
  position: relative;
  font-size: 12px !important;
}

.storyList .storyDetail::after {
  position: absolute;
  background: linear-gradient(180deg, #030214 53.45%, rgba(3, 2, 20, 0) 100%);
  border-radius: 8px;
  transform: rotate(-180deg);
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 175px;
}


.accordion-button:not(.collapsed){
  color: var(--primary);
  background-color:white;
}




/* Not Found Style */

#notfound {
  position: relative;
  height: 50vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#notfound .notfound-bg > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eee;
}

#notfound .notfound-bg > div:nth-child(1) {
  left: 20%;
}

#notfound .notfound-bg > div:nth-child(2) {
  left: 40%;
}

#notfound .notfound-bg > div:nth-child(3) {
  left: 60%;
}

#notfound .notfound-bg > div:nth-child(4) {
  left: 80%;
}

#notfound .notfound-bg > div:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -0.5px;
  -webkit-transform: translateY(-160px);
  -ms-transform: translateY(-160px);
  transform: translateY(-160px);
  height: 160px;
  width: 2px;
  background-color: var(--light);
}

@-webkit-keyframes drop {
  90% {
    height: 20px;
  }

  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px));
  }
}

@keyframes drop {
  90% {
    height: 20px;
  }

  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
    transform: translateY(calc(100vh + 160px));
  }
}

#notfound .notfound-bg > div:nth-child(1):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#notfound .notfound-bg > div:nth-child(2):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#notfound .notfound-bg > div:nth-child(3):after {
  -webkit-animation: drop 3s infinite linear;
  animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#notfound .notfound-bg > div:nth-child(4):after {
  -webkit-animation: drop 2s infinite linear;
  animation: drop 2s infinite linear;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 h1 {
  font-size: 4em !important;
  font-weight: 700;
  margin: 0px;
  text-shadow: 4px 4px 0px var(--light);
}

.notfound h2 {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.notfound p {
  color: #000;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px;
}

.notfound a {
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px var(--light);
  box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px var(--light);
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: var(--light);
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px var(--light);
  box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px var(--light);
}

.notfound-social {
  margin-top: 35px;
}

.notfound-social > a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin: 0px 5px;
}

.notfound-social > a:hover {
  background-color: var(--light);
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px var(--light);
  box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px var(--light);
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 2em !important;
  }

  .notfound h2 {
    font-size: 26px;
  }
}